.form-horizontal.col-xs-offset-4.col-xs-4
  = form_for(:chat, :url => {controller: 'chats', action:'create'}) do |f|
    %h3 New chat
    .form-group.col-xs-12
      = f.text_field :name, autofocus: true, class: "col-xs-offset-2 col-xs-8", placeholder: "name"
    .form-group.col-xs-12
      = f.text_field :user_id, class: "col-xs-offset-2 col-xs-8", placeholder: "receiver id"
    / .form-group.col-xs-12
    /   = f.text_field :users_id, class: "col-xs-offset-2 col-xs-8", placeholder: "add another receivers"
    .actions.form-group.col-xs-12
      = f.submit "Create", class: "btn btn-primary col-xs-offset-2 col-xs-8"